/*--------------
color-1B: #1E90FF;
color-2G: #228B22;
color-3O: #FF4500;
color-4: #F3F2C9;
----------------*/
body{

    background: #fcfcfc;
font-family: 'Kaisei HarunoUmi', serif;
}

.active button{
  width: 50px;
  padding: 5px 0;
  background: #C5C5C5;
  color: #228B22;
  margin-left: -6px;
  border: 1px solid #C5C5C5;
  outline: none;
  cursor: pointer;


}
.search-box{
  background: #228B22;
  top: 60px;
  right: 0;
  width: 350px;
  height: 60px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-top:4px solid #228B22;
  display: none;
  position: absolute;
}
.search-box:before{
  content: "";
  position: absolute;
  top: -32px;
  right: 13px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 14px solid transparent;
  border-bottom: 14px solid #228B22;
}
.search-box input[type="text"]{
  width: 200px;
    height: 40px;
  padding: 5px 10px;
  margin-left: 23px;
  border: 1px solid #FF4500;
  outline: none;
}
.search-box button{
  width: 80px;
      height: 40px;
  padding: 5px 0;
  background: #FF4500;
  color: #fff;
  margin-left: -6px;
  border: 1px solid #FF4500;
  outline: none;
  cursor: pointer;
}

.t1{
	color:#228B22;
	font-weight:bold;
}
.t2{
	color:#FF4500;
	font-weight:bold;
}
.t3{
	color:#1E90FF;
	font-weight:bold;
}

.p1{
  font-size: 13px;
  color: #FF4500;
  margin-left: 70px;
 vertical-align: bottom;
 line-height: 0;
}
.nav-item{
  font-weight:bold;

}

.carousel-item{
	height: 500px;

}
.nav-item:hover>.dropdown-menu {
  display: block;
}

.dropdown-item:before {
 font-family: "Font Awesome 5 Free";
     font-weight: 900;
     color: #FF4500;
  content: "\f30b";
  opacity: 0;  
  top: 14px;
  left: -20px;
  transition: 0.5s;
}

.dropdown-item:hover{
  padding-left: 24px;
  padding-right:8px;
}

.dropdown-item:hover:before {
  opacity: 1;
  left: 10px;
}

.nav-item .nav-link {

color:   #4d4d4d;
}
 .nav-item .nav-link  a: hover{

color:   #1E90FF;
}


.cap{
	
 background: rgba(237, 247, 237, 0.4);
  font-size: 25px;
    padding: 10px;


}
.cap h1{
 color:#fff;
  font-weight: bold;
  text-align: left;
}
.section3{
	padding: 70px 0;
  border: none;
  text-align: center;
}
.section3 h2{
color: black;
}
.section3 button {
  background-color:#1E90FF ;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.section3 button:hover {
  background-color: #FF4500;
}
.section3 .p2{
color: #1E90FF;
  font-size: 12px;
  	font-weight:bold;
}
.map{
  width: 100%;

}

footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;    
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 1rem 0 3rem 0;

}
.socials li{
    margin: 0 7px;

}
.socials a{
        color: #228B22;

}
.socials a i{
    font-size: 50px;

}
.socials a:hover i{
    color: #fff;
}

.footer-bottom{
    background: #000;
    padding: 15px;
    text-align: center;
}
.footer-bottom p{
    font-size: 12px;
    text-align: center;
}
.footer-bottom span{
    color: #1E90FF;
    font-weight: bold;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  background-color: #FF4500;
  color: white;
  cursor: pointer;
  padding: 15px;
}

#myBtn:hover {
  background-color: #555;
}


/*----------------contact us-------------------------*/

.container{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

.container:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("../img/img3.jpeg") no-repeat center;
  background-size: cover;
  filter: blur(50px);
  z-index: -1;
}
.contact-box{
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
  background: url("../img/img3.jpeg") no-repeat center;
  background-size: cover;
  height: 100%;
}

.right{
  padding: 25px 40px;
  background-color: #F3F2C9;
}

h1{
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
   font-size: 30px;
    font-weight: 900;
    color:#228B22 ;

}



.field{
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: white;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: .3s;
}

.field:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

textarea{
  min-height: 150px;
}

.btn{
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #1E90FF !important;
  color: #fff !important;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s;
}

.btn:hover{
    background-color: #FF4500 !important;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}


/*---------------About Us-----------------------*/
.about-section{
    background: url("../img/img13.jpeg") no-repeat left;
    background-size: 50%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 50px 0;
}

.inner-container{
    width: 60%;
    float: right;
    background-color: #F3F2C9;
    padding: 100px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    color:#228B22 ;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills button{
    font-size: 22px;
    text-align: center;
    letter-spacing: 2px;
    border: none;
    border-radius: 20px;
    padding: 8px;
    width: 200px;
    background-color: #1E90FF;
    color: white;
    cursor: pointer;
}
.skills button:hover{
    transition: 1s;
    background-color: #FF4500;


}
/*----------------galeary-------------------------*/
header {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.container1 {
  width: 80%;
  column-count: 4;
  margin: 0 auto;
}

.grid-item img {
  width: 100%;
  height: auto;
  margin: 1em;
}



/*----------------our-------------------------*/
.wrapper{
  
  background-color: #F3F2C9;
}

.wrapper h1{
  margin-bottom: 60px;
  text-align: center;
  font-size: 30px;
    font-weight: 900;
    color:#228B22 ;

}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  background: #fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
}

.team .team_member h3{
  color: #1E90FF;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
}
/*----------------------project------------------*/

.wrapper2{
  width:1200px;
  margin:10px auto;
    background-color: #F3F2C9;

}
.blog{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between
}
.single-blog{
  flex-basis:390px;
  border:1px solid #eee;
}
.blog-img{
  position:relative;
  overflow:hidden;
}
.blog-img img{
  width:100%;
  transition:.3s;
}
.single-blog:hover .blog-img img{
  transform:scale(1.1)
}
.blog-img a{
  position:absolute;
  left:0;
  top:0;
  color:#fff;
  text-decoration:none;
  text-transform:capitalize;
  font-size:18px;
  background-color:#228B22;
  padding:10px 30px;
}
.blog-info{
  width:80%;
  margin:0 auto;
  border:1px solid #ccc;
  position:relative;
  z-index:2;
  margin-top:-30px;
  padding:10px 5px;
  background-color:#fff;
  text-align:center;
}
.blog-info a{
  color:#333;
  text-decoration:none;
  margin:0 10px;
  display:inline-block
}
.blog-content{
  padding:20px;
}
.blog-content h4{
  font-size:22px;
  font-weight:600;
  text-transform:capitalize;
  border-bottom:1px dashed #eee;
  margin-bottom:10px;
  padding-bottom:5px;
  color: #228B22;
}
.blog-content a{
  background-color:#1E90FF;
  color:#fff;
  text-decoration:none;
  padding:10px 20px;
  font-size:16px;
  text-transform:capitalize;
  display:inline-block;
  margin-top:20px;
  position:relative;
  z-index:2;
  overflow:hidden;
}
.blog-content a:before{
  position:absolute;
  width:100%;
  height:100%;
  left:-100%;
  top:0;
  background-color:#FF4500;
  content:"";
  transition:.3s;
  z-index:-1;
}
.blog-content a:hover:before{
  left:0;

}