/*--------------
color-1R: #1E90FF;
color-2G: #228B22;
color-3O: #FF4500;
----------------*/
body{
    background: #fcfcfc;
}
.active button{
  width: 50px;
  padding: 5px 0;
  background: #C5C5C5;
  color: #228B22;
  margin-left: -6px;
  border: 1px solid #C5C5C5;
  outline: none;
  cursor: pointer;


}
.search-box{
  background: #228B22;
  top: 55px;
  right: 0;
  width: 350px;
  height: 60px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-top:4px solid #228B22;
  display: none;
  position: absolute;
}
.search-box:before{
  content: "";
  position: absolute;
  top: -32px;
  right: 13px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 14px solid transparent;
  border-bottom: 14px solid #228B22;
}
.search-box input[type="text"]{
  width: 200px;
    height: 40px;
  padding: 5px 10px;
  margin-left: 23px;
  border: 1px solid #FF4500;
  outline: none;
}
.search-box button{
  width: 80px;
      height: 40px;
  padding: 5px 0;
  background: #FF4500;
  color: #fff;
  margin-left: -6px;
  border: 1px solid #FF4500;
  outline: none;
  cursor: pointer;
}

.t1{
	color:#228B22;
	font-weight:bold;
}
.t2{
	color:#FF4500;
	font-weight:bold;
}
.t3{
	color:#1E90FF;
	font-weight:bold;
}

.p1{
  font-size: 13px;
  color: #FF4500;
  margin-left: 70px;
 vertical-align: bottom;
 line-height: 0;
}
.nav-item{
  font-weight:bold;

}

.carousel-item{
	height: 500px;

}
.nav-item:hover>.dropdown-menu {
  display: block;
}

.dropdown-item:before {
 font-family: "Font Awesome 5 Free";
     font-weight: 900;
     color: #FF4500;
  content: "\f30b";
  opacity: 0;  
  top: 14px;
  left: -20px;
  transition: 0.5s;
}

.dropdown-item:hover{
  padding-left: 24px;
  padding-right:8px;
}

.dropdown-item:hover:before {
  opacity: 1;
  left: 10px;
}

.nav-item .nav-link {

color:   #4d4d4d;
}
 .nav-item .nav-link  a: hover{

color:   #1E90FF;
}


.cap{
	
 background: rgba(237, 247, 237, 0.4);
  font-size: 25px;
  color:#fff;
  font-weight: bold;
  text-align: left;
    padding: 10px;


}
.section3{
	padding: 70px 0;
  border: none;
  text-align: center;
}
.section3 button {
  background-color:#1E90FF ;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.section3 button:hover {
  background-color: #555;
}
.section3 .p2{
color: #1E90FF;
  font-size: 12px;
  	font-weight:bold;
}
.map{
  width: 100%;

}

footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;    
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 1rem 0 3rem 0;

}
.socials li{
    margin: 0 7px;

}
.socials a{
        color: #228B22;

}
.socials a i{
    font-size: 50px;

}
.socials a:hover i{
    color: #fff;
}

.footer-bottom{
    background: #000;
    padding: 15px;
    text-align: center;
}
.footer-bottom p{
    font-size: 12px;
    text-align: center;
}
.footer-bottom span{
    color: #1E90FF;
    font-weight: bold;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  background-color: #FF4500;
  color: white;
  cursor: pointer;
  padding: 15px;
}

#myBtn:hover {
  background-color: #555;
}
